body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1 {
    color: white;
    font-weight: 800;
}

#input-container {
    background-color: #6943ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#unit-input {
    margin-bottom: 20px;
    width: 120px;
    font-weight: 800;
    color: white;
    font-size: 58px;
    padding: 5px 20px;
    background-color: #6943ff;
    border: 2px #b295ff solid;
    border-radius: 5px;
}

#convert-btn {
    color: #3d3d3d;
    background-color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}
