body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #111827;
}

main {
    width: 600px;
}

h1 {
    color: white;
    font-weight: 800;
}

h3 {
    font-weight: 700;
    color: #ccc1ff;
}

p {
    color: white;
    font-weight: 200;
}

#input-container {
    background-color: #6943ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#unit-input {
    margin-bottom: 20px;
    width: 120px;
    font-weight: 800;
    color: white;
    font-size: 58px;
    padding: 5px 20px;
    background-color: #6943ff;
    border: 2px #b295ff solid;
    border-radius: 5px;
    text-align: center;
}

#convert-btn {
    color: #3d3d3d;
    background-color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

#result-container {
    background-color: #1f2937;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

#m-ft-container,
#l-gallons-container,
#kg-lbs-container {
    background-color: #273549;
    text-align: center;
    width: 500px;
}

#m-ft-container {
    margin-top: 25px;
}
